:root {
    --cor-1: #cb7a1d;
    --cor-2: #b76a16;
    --cor-3: #a3590f;
    --cor-4: #8f4907;
    --cor-5: #7b3800;
    --cor-6: #a0530e;
    --cor-7: #8d430b;
    --cor-8: #7b3307;
    --cor-9: #682204;
    --cor-10: #551200;
    --cor-11: #160500;
    --cor-b: #ffffff;
  }

  .cor-1 {
    background-color: var(--cor-1);
  }
  
  .cor-2 {
    background-color: var(--cor-2);
  }
  
  .cor-3 {
    background-color: var(--cor-3);
  }
  
  .cor-4 {
    background-color: var(--cor-4);
  }
  
  .cor-5 {
    background-color: var(--cor-5);
  }
  
  .cor-6 {
    background-color: var(--cor-6);
  }
  
  .cor-7 {
    background-color: var(--cor-7);
  }
  
  .cor-8 {
    background-color: var(--cor-8);
  }
  
  .cor-9 {
    background-color: var(--cor-9);
  }
  
  .cor-10 {
    background-color: var(--cor-10);
  }